




<nav class="navbar navbar-expand-sm justify-content-center">

    <!-- Links -->
    <ul class="navbar-nav mx-auto">

       <li class="nav-item">
            
            <a class="nav-link" href="{% url 'selectPlanChecksCylinder' %}">Cylinder</a>
       </li>  

       <li class="nav-item">
                <a class="nav-link " href="{% url 'selectPlanChecksTO' %}">T&O</a>
        </li>
        <li class="nav-item">
                <a class="nav-link " href="{% url 'selectPlanChecksCylinder' %}">Prostate</a>
        </li>
        <li class="nav-item">
                <a class="nav-link " href="{% url 'selectPlanChecksCylinder' %}">Syed</a>
        </li>

    </ul>
  
</nav>






