




<form  action ="{% url 'addRequest' %}" method = "POST"  >
    {% csrf_token %}

   
  <tr>
  <td> <a class="btn btn-info  " href="{% url 'editRequest' request.pk %}" role="button">Edit</a></td>   

   <td>{{request.Requestor}}</td>
   <td>{{request.Email}}</td>

  <td>{{request.Phone}}</td>

   <td>{{request.Status}}</td>

    <td>{{request.EMRSystem}}</td>
        

    <td><textarea rows="4" cols="48" readonly style="border: none">{{request.Request}}</textarea></td>
    
    <td><textarea rows="4" cols="22" readonly style="border: none">{{request.Reason}}</textarea></td>

   <td>{{request.Priority}}</td>
       
  </td><td><textarea rows="4" cols="22" readonly style="border: none">{{request.Impact}}</textarea></td>

     </td><td>{{request.TeamMember}}</td>

    <td><textarea rows="4" cols="22" readonly style="border: none">{{request.Comment}}</textarea></td>

   <td><textarea rows="4" cols="22" readonly  style="border: none">{{request.ActionTaken}}</textarea></td>

   <td>{{request.TimeStamp}}</td>
   {%if request.DateCompleted == None %}
   <td></td>
   {%else %}
   <td>{{request.DateCompleted}}</td>
   {%endif%}
    
    <td><a class="btn btn-secondary  " href="{% url 'deleteRequest' request.pk %}" onclick="return confirm('Are you sure you want to delete this entry?')" role="button">Delete</a></td></tr>
    
</form>
